@using Journly.Models
@using Microsoft.Ajax.Utilities
@model Journly.Models.JournalEntry
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<table class="table table-bordered table-hover">
    <tr>
        <td>Date and Time</td>
        <td>@Model.CreatedOn</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>@Model.Version</td>
    </tr>
    <tr>
        <td>Flag</td>
        <td>@Model.Flag</td>
    </tr>
    <tr>
        <td>Entry Body</td>
        <td>@Model.EntryBody</td>
    </tr>
</table>

@if (Model.Flag == JournalEntry.EntryFlag.H)
{
    <p class="btn btn-warning">@Html.ActionLink("Un-Hide Entry", "FlagNormal", "JournalEntry", new { id = Model.Id }, null)</p>
    <p class ="btn btn-danger">@Html.ActionLink("Delete Entry", "FlagDeleted", "JournalEntry", new {id = Model.Id}, null)</p>
}else if (Model.Flag == JournalEntry.EntryFlag.N)
{
    <p class="btn btn-warning">@Html.ActionLink("Hide Entry", "FlagHidden", "JournalEntry", new {id = Model.Id}, null)</p>
    <p class="btn btn-danger">@Html.ActionLink("Delete Entry", "FlagDeleted", "JournalEntry", new {id = Model.Id}, null)</p>
}