@using Journly.Models

@model Journly.Models.ViewModels.SearchFormModel

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.JournalId == 0)
{
    <h2>Searching All Journals</h2>
}
else
{
    <h2>Searching Specific Journal</h2>
}

@using (Html.BeginForm("SearchResults", "JournalEntry"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SearchString)
        @Html.TextBoxFor(m => m.SearchString, new {@class = "form-control"})
    </div>
    <div class ="form-group">
        @Html.LabelFor(m => Model.StartDate)
        @Html.TextBoxFor(m => m.StartDate, "{0:d MMM yyyy}",  new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => Model.EndDate)
        @Html.TextBoxFor(m => m.EndDate, "{0:d MMM yyyy}",  new { @class = "form-control" })
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.ShowHidden) Show Hidden
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.ShowDeleted) Show Deleted
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}

@if (!Model.Results.Any())
{
    <p>There are no result, please try another search</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created on</th>
                <th>Version</th>
                <th>Flag</th>
                <th>Entry Body</th>
            </tr>
        </thead>
        @foreach (var jrn in Model.Results)
        {
            <tr>
                <td>@Html.ActionLink(jrn.Title, "Details", "JournalEntry", new {id = jrn.Id}, null)</td>
                <td>@jrn.CreatedOn</td>
                <td>@jrn.Version</td>
                <td>@jrn.Flag</td>
                <td>@jrn.EntryBody</td>
            </tr>
        }
    </table>
}

