@model Journly.Models.ViewModels.JournalDetails
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.journal.Title</h2>

@if (Model.entries.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Creation Date</th>
            <th>Version</th>
            <th>Entry</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model.entries)
        {
            <tr>
                <td>@Html.ActionLink(entry.Title, "Details", "JournalEntry", new {id = entry.Id}, null)</td>
                <td>@entry.CreatedOn</td>
                <td>@entry.Version</td>
                <td>@entry.EntryBody</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No Entries Exist for this Journal</p>
}

<p class="btn btn-primary">@Html.ActionLink("New Entry", "New", "JournalEntry", new {id = Model.journal.Id}, null)</p>
