@model IEnumerable<Journly.Models.Journal>
@{
    ViewBag.Title = "ViewJournals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Journals</h2>




@if (!Model.Any())
{
    <p>You have no Journals</p>
}
else
{
    /*
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jrn in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(jrn.Title, "Details", "Journal", new {id = jrn.Id}, null)
                    </td>
                    <td>
                        @jrn.CreationDate.ToString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
    */
    <table>
        <tbody>
            <tr>
                <td>
                    @foreach (var jrn in Model)
                    {
                        <div style="background-color:white;width:300px;height:400px;float:left">
                            <div style="background-color:grey;width:250px;height:375px">
                                <div style="background-color:black;width:50px;height:375px;float:left"></div>
                                <div style="background-color:grey;width:200px;height:50px;float:left"></div>
                                <div style="background-color:white;width:175px;height:100px;float:left;word-wrap:break-word">
                                    <h2 style="margin:10px 10px;">@Html.ActionLink(jrn.Title, "Details", "Journal", new { id = jrn.Id }, null)</h2>
                                </div>
                                <div style="background-color:grey;width:200px;height:50px;float:left"></div>
                                <div style="background-color:white;width:175px;height:50px;float:left">
                                    <p style="margin:10px 10px;">@jrn.CreationDate.ToString()</p>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

<p class="btn btn-success">@Html.ActionLink("New Journal", "New", "Journal")</p>
